<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">关键词</Data></Cell>
        <Cell><Data ss:Type="String">网站</Data></Cell>
		<% @ranks.each do |rank| %>
		<Cell><Data ss:Type="String"><%= rank.rankdate%></Data></Cell>
		<% end %>
      </Row>
    <% @keywords.each do |keyword| %>
      <Row>
        <Cell><Data ss:Type="String"><%= keyword.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= keyword.link %></Data></Cell>
		<% @ranks.each do |rank| %>
		<Cell><Data ss:Type="Number"><%= Rank.where(:keyword_id => keyword.id, :rankdate => rank.rankdate).first.ranknum unless Rank.where(:keyword_id => keyword.id, :rankdate => rank.rankdate).first.nil? %></Data></Cell>
		<% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>